html,
body {
  margin: 0;
  height: 100%;
}

.videos {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.videos__remote {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
}

.videos__local {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15%;
  border: 2px solid white;
  border-radius: 5px;
}

.start {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  background-image: url(telephone-auricular-with-cable.svg);
  background-size: contain;
  cursor: pointer;
}
